/**
เทาเข้ม #221E1F
เทากลาง #f2f2f2
ขาวบุหรี่ #f0f1f1
ฟ้า ##4a7aba
แดง #DC1A3B
เขียว #4a7aba
**/

/***** global *****/
hr {
    border-color: #d0d2d3;
}

a {
    color: #221E1F;
}

p {
    font-family: "Sarabun", sans-serif;
    color: #000;
    font-size: 16px;
    margin: 0;
    line-height: 1.5rem;
}

h1 {
    font-size: 30px;
    font-weight: 500;
}

h2 {
    color: #221E1F;
    font-weight: 400;
    font-size: 28px;
}

h3 {
    color: #474950;
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-size: 18px;
    font-weight: 400;
}

#bg-top-tap {
    padding: 20px 10px;
    background-color: #4a7aba;
    color: #fff;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

li {
    padding-top: 0px;
}

.color-grey {
    color: #221e1f !important;
}

.color-org {
    color: #dc1a3b;
}

.color-sky {
    color: #4a7aba;
}

.color-brown {
    padding: 0px 0;
    color: #a87b4f;
}

.tab_title {
    background-color: #f2f2f2;
}

.tab-menu-detail {
    color: #fff;
    padding: 10px 20px;
    background-color: #729329;
}

.cart-icon {
    position: fixed;
    bottom: 50%;
    right: 1%;
    background: #cccccc5e;
    padding: 12px;
    border-radius: 50%;
}

.cart-icon .alert-cart {
    position: fixed;
    bottom: 5%;
    right: 1%;
    display: none;
}

.btn-global-nocolor {
    color: #fff !important;
    background-color: #4a7aba;
    border-color: #4a7aba;
    border-radius: 50px;
    padding: 20px 0;
}

.btn-global-nocolor:hover {
    color: #4a7aba !important;
    background-color: transparent;
    border-color: #4a7aba;
    border-radius: 50px;
}

.btn-global-red {
    color: #fff !important;
    background-color: red;
    border-color: red;
    border-radius: 50px;
    padding: 20px 0;
}

.btn-global-red:hover {
    color: red !important;
    background-color: transparent;
    border-color: red;
    border-radius: 50px;
}

.btn-global-sky {
    color: #fff !important;
    background-color: #fff;
    border-color: #4a7aba;
    border-radius: 50px;
    padding: 20px 0;
}

.btn-global-sky:hover {
    color: #000 !important;
    background-color: #fff;
    border-color: #4a7aba;
    border-radius: 50px;
    padding: 20px 0;
}


.btn-header {
    color: #4a7aba !important;
    background-color: #fff;
    border-color: #4a7aba;
    border-radius: 50px;
}

.btn-header:hover {
    color: #fff !important;
    background-color: #4a7aba;
    border-color: #4a7aba;
    border-radius: 50px;
}

.btn-facebook {
    background-color: #29487d;
    color: #fff;
}

.btn-facebook:hover {
    background-color: #fff;
    color: #29487d;
    border-color: #29487d;

}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #e93e00;
}

.carousel-indicators .active {
    background-color: #e93e00;
}

.navbar-light .navbar-toggler {
    border: 0;
}

.bg-news {
    background-color: #4a7aba;
    color: #fff !important;
}

.text-muted {
    color: #929497;
}

.bg-grey {
    color: #fff;
    background-color: #4a7aba;
}

#socail ul {
    padding-top: 5px;
    display: inline-flex;
}

/*** Card ***/
/*** Card ***/
/*** Card ***/
.card {
    transition: box-shadow 0.4s;
}

.card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.card-wrapper .card-up {
    height: 200px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-wrapper .avatar {
    display: block;
    margin-top: -60px;
    overflow: hidden;
    width: 120px;
}

.card-wrapper .avatar img {
    border: 5px solid #fff;
    background: none repeat scroll 0 0 #fff;
    width: 100%;
}

/*** Card ***/
/*** Card ***/
/*** Card ***/

.breadcrumb {
    background-color: transparent;
    padding: 0;
    font-size: 16px;
}

.breadcrumb a {
    color: #fff;
}

/***** END global *****/

/*** HEADER ***/
#header-menu {
    background-color: #ffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

#tab-menu-1 {
    background-color: #fff;
}

#tab-menu-1 li {
    padding-top: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;

}

.navbar-collapse a.dropdown-item {
    color: #000;
}

.navbar-collapse ul li a {
    padding: 0px 12px !important;
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    outline: none;
}

.navbar-collapse ul li a:hover {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #4a7aba;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    outline: none;
}

.dropdown-menu {
    background-color: #fff;
    padding: 0px 0px;
}

.nav-item .dropdown-item {
    padding: 6px 15px !important;
    border-bottom: 1px solid #ccc;
}

.nav-item .dropdown-item:hover {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
}

/*** HEADER ***/

/*** HOME ***/

#course_rec {
    /* background-color: #f0f1f1; */
    padding: 25px 0;
}

#bg-about {
    background-color: #f0f1f1;

}

/*** HOME ***/

/*** PRODUCT DETAIL ***/
#productall {
    background-image: url('../images/17.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 0;
}

#product_detail .tc_discount {
    font-size: 2em;
}

#product_detail .tab_breadcrumb,
#product_detail .tab_breadcrumb a {
    background-color: #fff;
    color: #000 !important;
}

#product_detail .tab_title {
    background-color: #f2f2f2;
    color: #000
}

#product_detail li {
    padding-left: 15px;
    font-size: 16px;
    color: #000
}

#accordion .card-header,
#accordion h5 {
    background-color: #4a7aba;
    color: #fff;
    font-weight: 400;
}


/*** END PRODUCT DETAIL ***/

/*** CONTACT ***/
#contact_page p {
    padding: 5px 0;
}

/*** END CONTACT  ***/


/** CART Table **/
#page-cart thead>tr {
    background-color: #4a7aba;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
}

#page-cart table>tbody {
    border: 1px solid #4a7aba;
}

#page-cart tbody>.cart-summary-head {
    background-color: #4a7aba;
    color: #fff;
    font-size: 16px;

}

#page-cart tr {
    font-size: 16px;
    color: #000;
}

#ordermember-page thead tr {
    color: #000;
    font-size: 17px;
}

#ordermember-page tbody tr {
    color: #000;
    font-size: 16px;
}

/** CART Table**/


/*** Footer ***/
#footer-menu {
    padding: 15px 0px;
    background-color: #4a7aba;

}

#footer-menu h3 {
    font-size: 1.5em;
}

footer {
    background-color: #fff;
    padding: 5px 0px;
}

#footer-menu p {
    color: #fff;
    font-size: 14px;
    padding: 5px 0;

}

#footer-menu .copy {
    color: #fff;
    font-size: 12px;
}

/*** End Footer ***/

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /***** global *****/
    hr {
        border-color: #d0d2d3;
    }

    p {
        font-family: "Sarabun", sans-serif;
        color: #000;
        font-size: 16px;
        margin: 0;
        line-height: 1.5rem;
    }

    h1 {
        font-size: 30px;
        font-weight: 400;
    }

    h2 {
        color: #000;
        font-weight: 400;
        font-size: 28px;
    }

    h3 {
        color: #474950;
        font-size: 24px;
        font-weight: 400;
    }

    h4 {
        font-size: 20px;

    }

    #bg-top-tap {
        padding: 20px 10px;
        background-color: #4a7aba;
        color: #fff;
    }

    li {
        padding-top: 15px;
    }

    .color-grey {
        color: #221e1f !important;
    }

    .color-org {
        color: #dc1a3b;
    }

    .color-sky {
        color: #4a7aba;
    }

    .color-brown {
        padding: 0px 0;
        color: #a87b4f;
    }

    .tab-menu-detail {
        color: #fff;
        padding: 10px 20px;
        background-color: #729329;
    }

    .carousel-indicators li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #e93e00;
    }

    .carousel-indicators .active {
        background-color: #e93e00;
    }

    .navbar-light .navbar-toggler {
        border: 0;
    }

    .bg-news {
        background-color: #4a7aba;
        color: #fff !important;
    }

    .text-muted {
        color: #929497;
    }

    .bg-grey {
        color: #fff;
        background-color: #474950;
    }

    #socail ul {
        padding-top: 5px;
        display: inline-flex;
    }

    .card {
        transition: box-shadow 0.4s;
    }

    .card:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        font-size: 16px;
    }

    .breadcrumb a {
        color: #474950;
    }

    /***** END global *****/

    /*** HEADER ***/
    #socail-hd {
        padding: 15px 0;
        background-color: #fff;
    }

    #socail-hd p {
        color: #fff;
    }

    #tab-menu-1 {
        padding: 10px 10px;
        background-color: #fff;
    }

    #tab-menu-1 li {
        padding-top: 15px;
    }

    .navbar-collapse a.dropdown-item {
        color: #fff;
    }

    .navbar-collapse ul li a {
        padding: 0px 12px !important;
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        outline: none;
    }

    .navbar-collapse ul li a:hover {
        padding: 0 8px 0px 8px;
        text-decoration: none;
        display: inline-block;
        color: #000;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        outline: none;
    }

    .dropdown-menu {
        background-color: #4a7aba;
        padding: 0px 0px;
        border: transparent;
    }

    .nav-item .dropdown-item {
        padding: 6px 15px !important;
        border-bottom: transparent;
    }

    .nav-item .dropdown-item:hover {
        padding-top: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid #ccc;
    }

    /*** HEADER ***/



    /*** Cart table responsive ***/

    .tableresponsive table,
    .tableresponsive thead,
    .tableresponsive tbody,
    .tableresponsive th,
    .tableresponsive td,
    .tableresponsive tr {
        display: block;
    }

    .tableresponsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .tableresponsive tr {
        border: 1px solid #ccc;
    }

    .tableresponsive td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 45% !important;
        white-space: normal;
        text-align: left;
    }

    .tableresponsive td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 50%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .tableresponsive td:before {
        content: attr(data-title);
    }

    .tableresponsive span i {
        float: right;
    }

    .tableresponsive .card-body {
        padding: 0;
    }

    /*** End Cart table responsive ***/


    /*** HOME ***/

    #course_rec {
        background-color: #fff;
        padding: 25px 0;
    }

    #bg-about {
        background-color: #f0f1f1;


    }

    /*** HOME ***/

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /***** global *****/
    hr {
        border-color: #d0d2d3;
    }

    p {
        font-family: "Sarabun", sans-serif;
        color: #000;
        font-size: 16px;
        margin: 0;
        line-height: 1.5rem;
    }

    h1 {
        font-size: 30px;
        font-weight: 400;
    }

    h2 {
        color: #000;
        font-weight: 400;
        font-size: 28px;
    }

    h3 {
        color: #474950;
        font-size: 24px;
        font-weight: 400;
    }

    h4 {
        font-size: 20px;
    }

    #bg-top-tap {
        padding: 20px 10px;
        background-color: #4a7aba;
        color: #fff;
    }

    li {
        padding-top: 15px;
    }

    .color-green {
        color: #729329 !important;
    }

    .color-org {
        color: #e93e00;
    }

    .color-sky {
        color: #26a9e0;
    }

    .color-brown {
        padding: 0px 0;
        color: #a87b4f;
    }

    .cart-icon {
        position: fixed;
        bottom: 50%;
        right: 1%;
        background: #cccccc5e;
        padding: 12px;
        border-radius: 50%;
    }

    .cart-icon .alert-cart {
        position: fixed;
        bottom: 5%;
        right: 1%;
        display: none;
    }

    .tab-menu-detail {
        color: #fff;
        padding: 10px 20px;
        background-color: #729329;
    }

    .carousel-indicators li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #e93e00;
    }

    .carousel-indicators .active {
        background-color: #e93e00;
    }

    .navbar-light .navbar-toggler {
        border: 0;
    }

    .bg-news {
        background-color: #4a7aba;
        color: #fff !important;
    }

    .text-muted {
        color: #929497;
    }

    .bg-grey {
        color: #fff;
        background-color: #474950;
    }

    #socail ul {
        padding-top: 5px;
        display: inline-flex;
    }

    .card {
        transition: box-shadow 0.4s;
    }

    .card:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        font-size: 16px;
    }

    .breadcrumb a {
        color: #474950;
    }

    /***** END global *****/

    /*** HEADER ***/
    #socail-hd {
        padding: 15px 0;
        background-color: #474950;
    }

    #socail-hd p {
        color: #fff;
    }

    #tab-menu-1 {
        padding: 10px 10px;
        background-color: #fff;
    }

    #tab-menu-1 li {
        padding-top: 15px;
    }

    .navbar-collapse a.dropdown-item {
        color: #000;
    }

    .navbar-collapse ul li a {
        padding: 0px 12px !important;
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        outline: none;
    }

    .navbar-collapse ul li a:hover {
        padding: 0 8px 0px 8px;
        text-decoration: none;
        display: inline-block;
        color: #000;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        outline: none;
    }

    .dropdown-menu {
        background-color: #4a7aba;
        padding: 0px 0px;
    }

    .nav-item .dropdown-item {
        padding-top: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid #ccc;
    }

    .nav-item .dropdown-item:hover {
        padding-top: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid #ccc;
    }

    /*** HEADER ***/

    /*** Cart table responsive ***/

    .tableresponsive table,
    .tableresponsive thead,
    .tableresponsive tbody,
    .tableresponsive th,
    .tableresponsive td,
    .tableresponsive tr {
        display: block;
    }

    .tableresponsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .tableresponsive tr {
        border: 1px solid #ccc;
    }

    .tableresponsive td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 45% !important;
        white-space: normal;
        text-align: left;
    }

    .tableresponsive td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 50%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .tableresponsive td:before {
        content: attr(data-title);
    }

    .tableresponsive span i {
        float: right;
    }

    .tableresponsive .card-body {
        padding: 0;
    }

    /*** End Cart table responsive ***/

    /*** HOME ***/

    #course_rec {
        background-color: #fff;
        padding: 25px 0;
    }

    #bg-about {
        background-color: #f0f1f1;
    }

    /*** HOME ***/
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
