/**
น้ำเงินเข้ม #0d1e2f
ฟ้า #0096E1
เขียวอ่อน #00D794
เขียวเข้ม #00B800

**/
@font-face {
    font-family: 'quarklight';
    src: url('../fonts/quark-light_0-webfont.eot');
    src: url('../fonts/quark-light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quark-light_0-webfont.woff2') format('woff2'),
         url('../fonts/quark-light_0-webfont.woff') format('woff'),
         url('../fonts/quark-light_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/***** global *****/
hr {
  border-color: #D0D2D3;
}
p{
  font-family: 'quarklight';
  color: #000 ;
  font-size: 19px;
  margin: 0;
  line-height: 1.5rem;
}
h1{
  font-size: 30px;
  font-weight: 100;
}
h2{
  color: #000 ;
  font-size: 26px;
}
h3{
  color: #729329 ;
  font-size: 2em;
  font-weight: 100;
}
h4{
  font-size: 21px;
  font-weight: 100;
}
 #bg-top-tap{
  padding: 20px 10px;
  background-color: #00a69c;
  color: #fff;
}
li{
  padding-top: 15px;
}
.color-green{
  color: #729329;
}
.color-org{
  color: #e93e00;
}
.color-sky{
  color:  #26a9e0;
}
.color-brown{
  padding: 10px 0;
  color: #A87B4F;
}
.cart-icon{
  position: fixed;
  bottom: 50%;
  right: 1%;
  background: #cccccc5e;
  padding: 12px;
  border-radius: 50%;
}
.cart-icon .alert-cart{
  position:fixed;
  bottom:  5%;
  right: 1%;
  display: none;
}

.tab-menu-detail{
  color: #fff;
  padding: 10px 20px;
  background-color: #729329;
}
.btn-global-sky{
  margin: 10px 10px;
  color: #fff !important;
  background-color: #729329;
  border-color: #729329;
    border-radius: 0;
  padding: 10px 40px 10px 40px;
}
.btn-global-sky:hover{
  color: #000 !important;
  background-color: #a87b4f;
  border-color: #a87b4f;
  border-radius: 0;
  padding: 10px 40px 10px 40px;
}

.carousel-indicators li{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FFF;
  border: 1px solid #E93E00;
}
.carousel-indicators .active{
  background-color: #E93E00;
}

.navbar-light .navbar-toggler{
border: 0;
}
.bg-news {
  background-color: #0096E1;
  color: #fff !important;
}

.text-muted{

  color: #929497;
}
.bg-brown{
  color: #FFF;
  background-color: #A87B4F;
}
#socail ul{
  padding-top: 5px;
  display: inline-flex;
}
/***** END global *****/


/*** HEADER ***/
#socail-hd{
  padding: 15px 0;
background-image: url('../images/topbg.jpg');

}
#socail-hd p{
  color: #fff;
}
#tab-menu-1{
  padding: 20px 0px;
  background-color: #716557;
}
#tab-menu-1  li {
  padding-top: 0px;
}
#tab-menu-2{
  padding: 20px 0px;
  background-color: #F5F6F6;
  color: #000;
}
#tab-menu-2  li {
  padding-top: 0px;
}
#tab-menu-2  ul {
  align-items: center;
}
#tab-menu-2  ul li a {
  color: #000;

}
.navbar-collapse ul li a{
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
}
.navbar-collapse ul li a:hover{
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  color: #FFF9b5;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
}

.dropdown-menu{
  background-color: #716557;
  padding: 0px 0px;
}

.nav-item .dropdown-item{
  padding-top:6px ;
  padding-bottom: 6px ;
  border-bottom: 1px solid #ccc;

}
.nav-item .dropdown-item:hover{
  padding-top:6px ;
  padding-bottom:6px ;
  border-bottom: 1px solid #ccc;
}

/*** HEADER ***/


/** HOME **/
#top_content{
  background-image: url('../images/5.jpg');
  background-position: center;
  background-size: cover;
  padding: 20px 0px 5px 0px;
}
#checkhealth{
  background-image: url('../images/17.jpg');
  background-position: center;
  background-size: auto;
  padding: 20px 0 0 0px;
}

#permit{
  background-image: url('../images/16.jpg');
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  padding:  0px;
}


#vdo-variety {
  background-color: #f7f8ec;
  padding: 50px   0px;
}

#interview .color-p{
color: #729329;
}

#bg-doctor{
  background-color: #B9C1C4;
  padding: 0px 0 0  0px;
}



#blog-herb {
  padding: 25px 0;
  background-color: #F5F6F6;
}


#rec-product{
  padding: 25px 0;
}
#rec-product .slider {
    width: 50%;
    margin: 20px 0;
}
#rec-product .slick-slide {
  margin: 0px 10px;
}
#rec-product .slick-prev:before,
#rec-product .slick-next:before {
  color: black;
}
#rec-product .slick-slide {
  transition: all ease-in-out .3s;
}


/** HOME **/

/** PRODUCTS **/
#product .cate_fillter {
  padding: 5px 0px 5px 0px;

}

#product .cate_fillter .main{
  color: #000;
  font-size: 18px;
  padding-right: 5px;
}

#product .main  a{
font-weight: bold;
font-size: 19px !important;

}

#product .cate_fillter a{
  color: #000;
  font-size: 18px;
  padding-right: 5px;
}
#product .cate_fillter li{
padding: 5px 0px 5px 5px;
}
#detail-product h1{
  color: #403F41;
}

#detail-product .pd_status{
    color: #729329 ;
    font-size: 18px;
}
#detail-product .pd_discount{
    color: red ;
    font-size: 26px;
    padding-bottom: 15px;
}
/** PRODUCTS **/

/** CART **/
#page-cart thead >  tr{
  background-color:#716557;
  color:#fff;
  font-size: 22px;

}
#page-cart table > tbody{border: 1px solid #71655794;}
#page-cart tbody > .cart-summary-head{
  background-color:#716557;
  color:#fff;
  font-size: 22px;
}
#page-cart tr{
  font-size: 18px;
  color: #000;
}
#ordermember-page thead tr{
  color: #000;
  font-size: 17px;
}
#ordermember-page tbody tr{
  color: #000;
  font-size: 16px;
}
/** CART **/

/*** Footer ***/
#footer-menu{
  padding: 50px 0px;
}
#footer-menu ul{
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 20px;
}
#footer-menu ul li::before {
  content: "\2022";
  color: #729329;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 20px;
}
#footer-menu li{
  font-size: 1.3em;
  padding-top: 10px;
}
#footer-menu li a{
  color: #000;
}
#footer-menu li a:hover{
  color: #729329;
}
#footer-menu h3{
    font-size: 1.5em;
}
#footer-social{
  background-color: #F5F6F6;
  padding: 20px 0;
  color: #000;
  font-size: 20px;
}
#footer-social h3{
  padding: 13px 0px 20px 0px;
  margin-bottom: 0px;
  color: #4A443E;
  font-size: 1.5em;

}
#footer-social p{

  color: #000;
}
footer {
  background-color: #FFF;
  padding: 5px 0px;
}
footer .copy{
  color: #403F41;
  font-size: 1rem;
}
/*** End Footer ***/



/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  p{
    font-family: 'quarklight';
    color: #000 ;
    font-size: 16px;
    margin: 0;
    line-height: 1.5rem;
  }
  h1{
    font-size: 28px;
    font-weight: 100;
  }
  h2{
    color: #000 ;
    font-size: 24px;
  }
  h3{
    color: #729329 ;
    font-size: 20px;
    font-weight: 100;
  }
  h4{
    font-size: 18px;
    font-weight: 100;
  }
   #bg-top-tap{
    padding: 20px 10px;
    background-color: #00a69c;
    color: #fff;
  }
  li{
    padding-top: 15px;
  }
  .navbar-collapse ul li a{
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    display: inline-block;
    color: #FFF;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    outline: none;
  }
  .navbar-collapse ul li a:hover{
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    display: inline-block;
    color: #23407d;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    outline: none;
  }

  .dropdown-menu{
    border: 0px;
    padding: 0px 0px;
  }
  .nav-item .dropdown-item{
    padding: 6px 15px;
    border-bottom: 0px ;

  }
  .nav-item .dropdown-item:hover{
  padding: 6px 15px;
    border-bottom: 0px;
  }
  .cart-icon{
    position: fixed;
    bottom: 2%;
    right: 1%;
    background: #cccccc5e;
    padding: 12px;
    border-radius: 50%;
  }
  .cart-icon .alert-cart{
    position:fixed;
    bottom:  9%;
    right: 1%;
    display: none;
  }
  #tab-menu-1{
    padding: 10px 0px;
    background-color: #716557;
  }
  #tab-menu-1  li {
    padding-top: 0px;
  }
  #tab-menu-2{
    padding: 0px;
    background-color: #716557;
    color: #000;
  }
  #tab-menu-2  li {
    padding-top: 0px;
  }
  #tab-menu-2  ul {
    align-items: baseline;
  }
  #tab-menu-2  ul li a {
    color: #FFF;

  }
  /*** HEADER ***/


  #permit{
    background-image: url('../images/16.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:  0px;
  }


  /*** Cart table responsive ***/

   .tableresponsive table,
   .tableresponsive thead,
   .tableresponsive tbody,
   .tableresponsive th,
   .tableresponsive td,
   .tableresponsive tr
   {
  		display:block ;
   }
   .tableresponsive thead tr {
  	position: absolute ;
  	top: -9999px;
  	left: -9999px;
   }
   .tableresponsive tr { border: 1px solid #ccc; }
   .tableresponsive td {
  		 border: none;
  		 border-bottom: 1px solid #eee;
  		 position: relative;
  		 padding-left: 45% !important;
  		 white-space: normal;
  		 text-align:left;

  	}
  	.tableresponsive td:before {
  		 position: absolute;
  		 top: 6px;
  		 left: 6px;
  		 width: 50%;
  		 padding-right: 10px;
  		 white-space: nowrap;
  		 text-align:left;
  		 font-weight: bold;
  	 }

  	.tableresponsive td:before { content: attr(data-title); }
   	.tableresponsive span i{
  		float: right;
  	}
    .tableresponsive .card-body{
  		padding: 0;
  	}
  /*** End Cart table responsive ***/

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  p{
    font-family: 'quarklight';
    color: #000 ;
    font-size: 16px;
    margin: 0;
    line-height: 1.5rem;
  }
  h1{
    font-size: 28px;
    font-weight: 100;
  }
  h2{
    color: #000 ;
    font-size: 24px;
  }
  h3{
    color: #729329 ;
    font-size: 20px;
    font-weight: 100;
  }
  h4{
    font-size: 18px;
    font-weight: 100;
  }
   #bg-top-tap{
    padding: 20px 10px;
    background-color: #00a69c;
    color: #fff;
  }
  li{
    padding-top: 15px;
  }
  #tab-menu-1{
    padding: 20px 0px;
    background-color: #716557;
  }
  #tab-menu-1  li {
    padding-top: 0px;
  }
  #tab-menu-2{
    padding: 20px 0px;
    background-color: #F5F6F6;
    color: #000;
  }
  #tab-menu-2  li {
    padding-top: 0px;
  }
  #tab-menu-2  ul {
    align-items: baseline;
  }
  #tab-menu-2  ul li a {
    color: #000;

  }

  .cart-icon{
    position: fixed;
    bottom: 2%;
    right: 1%;
    background: #cccccc5e;
    padding: 12px;
    border-radius: 50%;
  }
  .cart-icon .alert-cart{
    position:fixed;
    bottom:  9%;
    right: 1%;
    display: none;
  }

  /*** Cart table responsive ***/

   .tableresponsive table,
   .tableresponsive thead,
   .tableresponsive tbody,
   .tableresponsive th,
   .tableresponsive td,
   .tableresponsive tr
   {
      display:block ;
   }
   .tableresponsive thead tr {
    position: absolute ;
    top: -9999px;
    left: -9999px;
   }
   .tableresponsive tr { border: 1px solid #ccc; }
   .tableresponsive td {
       border: none;
       border-bottom: 1px solid #eee;
       position: relative;
       padding-left: 45% !important;
       white-space: normal;
       text-align:left;

    }
    .tableresponsive td:before {
       position: absolute;
       top: 6px;
       left: 6px;
       width: 50%;
       padding-right: 10px;
       white-space: nowrap;
       text-align:left;
       font-weight: bold;
     }

    .tableresponsive td:before { content: attr(data-title); }
    .tableresponsive span i{
      float: right;
    }
    .tableresponsive .card-body{
  		padding: 0;
  	}
  /*** End Cart table responsive ***/
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .cart-icon{
    position: fixed;
    bottom: 2%;
    right: 1%;
    background: #cccccc5e;
    padding: 12px;
    border-radius: 50%;
  }
  .cart-icon .alert-cart{
    position:fixed;
    bottom:  9%;
    right: 1%;
    display: none;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .cart-icon{
    position: fixed;
    bottom: 4%;
    right: 1%;
    background: #cccccc5e;
    padding: 12px;
    border-radius: 50%;
  }
  .cart-icon .alert-cart{
    position:fixed;
    bottom:  12%;
    right: 1%;
    display: none;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cart-icon{
    position: fixed;
    bottom: 50%;
    right: 1%;
    background: #cccccc5e;
    padding: 12px;
    border-radius: 50%;
  }
  .cart-icon .alert-cart{
    position:fixed;
    bottom:  5%;
    right: 1%;
    display: none;
  }
}
