/**
น้ำเงินเข้ม #0d1e2f
ฟ้า #0096E1
เขียวอ่อน #00D794
เขียวเข้ม #00B800

**/
@font-face {
    font-family: 'maledpanregular';
    src: url('/assets/fonts/maledpan-regular_1.woff2') format('woff2'),
         url('/assets/fonts/maledpan-regular_1.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/***** global *****/
hr {
  border-color: #000;
}
p{
  font-family: 'maledpanregular';
  color: #000 ;
  font-size: 18px;
  margin: 0;
  line-height: 1.8rem;
}
h1{
  font-size: 3rem;
  font-weight: 100;
}
h2{
  color: #000 ;

  font-size: 28px;
}
h3{
  font-size: 20px;
  font-weight: 100;

}
h4{
  font-size: 1.8rem;
  font-weight: 100;
}
 #bg-top-tap{
  padding: 20px 10px;
  background-color: #00a69c;
  color: #fff;
}
.color-org{
  color: #e93e00;
}
.color-sky{
  color:  #26a9e0;
}
.color-red{
  color: #ec1b23;
}

.btn-global-sky{
    margin: 10px 10px;
  color: #fff !important;
  background-color: #0096E1;
  border-color: #0096E1;
  padding: 10px 40px 10px 40px;
}
.btn-global-sky:hover{
  color: #0096E1 !important;
  background-color: #fff;
  border-color: #0096E1;
  padding: 10px 40px 10px 40px;
}

.btn-global-wt{
  margin: 10px 10px;
  color: #0096E1 !important;
  background-color: #fff;
  border-color: #0096E1;
  padding: 10px 40px 10px 40px;
}
.btn-global-wt:hover{
  color: #fff !important;
  background-color: #0096E1;
  border-color: #0096E1;
  padding: 10px 40px 10px 40px;
}

.carousel-indicators li{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FFF;
  border: 1px solid #E93E00;
}
.carousel-indicators .active{
  background-color: #E93E00;
}

.navbar-light .navbar-toggler{
border: 0;
}
.bg-news {
  background-color: #0096E1;
  color: #fff !important;
}

.text-muted{
  font-size: 14px;
  color: #929497;
}
/***** END global *****/




/*** HEADER ***/
#socail-hd{
background-color: #000;

}
#socail-hd p{
  color: #fff;
}


.navbar-collapse ul li a{
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  color: #221E1F;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  outline: none;
}
.navbar-collapse ul li a:hover{
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  color: #0096e1;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  outline: none;
}

.dropdown-menu{
  padding: 0px 0px;
}
.nav-item .dropdown-item{
  padding-top:6px ;
  padding-bottom: 6px ;
  border-bottom: 1px solid #ccc;

}
.nav-item .dropdown-item:hover{
  padding-top:6px ;
  padding-bottom:6px ;
  border-bottom: 1px solid #ccc;
}

/*** HEADER ***/



/*** HOME ***/

/*** HOME ***/

/*** courseonline ***/

#top-courseonline{
  background-image: url('/assets/img_web/top_online.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 100px;
  margin-bottom: 20px;
}
/*** courseonline ***/



/*** book ***/

#top-book{
  background-image: url('/assets/img_web/top_online.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 100px;
  margin-bottom: 20px;
}
/*** book ***/



/** knowledge **/

#top_bg_knowledge{
  background-image: url('/assets/img_web/top_knowleage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 100px;
  margin-bottom: 20px;

}

/** knowledge **/


/** newsandactivity **/
#top-newsandactivity{
  background-image: url('/assets/img_web/10.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 50px;

}
/** newsandactivity **/


/** Payment **/
#top-payment{
  background-image: url('/assets/img_web/top_payment.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 100px;
  margin-bottom: 20px;
}
#payment{
  padding: 50px 0;
}
#payment h3{
color: #0096E1;
}
#payment p{
  line-height: 1;
}
#payment table{
border: 1px solid #dee2e6;
}


/** Payment **/

#top-about{
  background-image: url('/assets/img_web/top_aboutus.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 90px 0;

}

/** contact **/

#top-contact{
  background-image: url('/assets/img_web/top_contact.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 100px 0;
  margin-bottom: 20px;

}
#contact a{
  color: #403F41;
  font-size: 16px;
}
#contact .bg-news{
  width: 25%;
  color: #403F41;
  font-size: 16px;
  border-radius: 0px;
}
/** contact **/

/**login-page **/

#top-login{
  background-image: url('/assets/img_web/top_login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 20px;

  padding: 100px 0;
}
/**login-page **/


/*** shirtDetail ***/
#shirtDetail ul > li{
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

/*** shirtDetail ***/






/*** Footer ***/
#footer-social{
  background-color: #FFF;
  padding: 15px 0;
  color: #000;
  font-size: 18px;
}
#footer-social h3{
  padding: 13px 0px;
  margin-bottom: 0px;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}
footer {
  background-color: #F0F1F1;
  padding: 5px 0px;
}
footer .copy{
  color: #403F41;
  font-size: 0.9rem;
}
/*** End Footer ***/



/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  .navbar-collapse ul li a{
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    display: inline-block;
    color: #221E1F;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    outline: none;
  }
  .navbar-collapse ul li a:hover{
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    display: inline-block;
    color: #23407d;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    outline: none;
  }

  .dropdown-menu{
    border: 0px;
    padding: 0px 0px;
  }
  .nav-item .dropdown-item{
    padding: 6px 15px;
    border-bottom: 0px ;

  }
  .nav-item .dropdown-item:hover{
  padding: 6px 15px;
    border-bottom: 0px;
  }

  /*** HEADER ***/
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
